// Color Scheme

// Size Scheme

$headerheight: 100px;

// Generic Styling

html, body {
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    height: $headerheight;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

